.header {
  background-color: #e6541a;
  margin: 0px;
  padding: 25px;
  height: 70px;
  color: #ffffff;
}

.caldar {
  position: relative;
  padding: 42px;
  top: -30px;
  background-color: rgb(45, 50, 73);
  font-size: 30px;
  color: #ffffff;
}

.container {
  display: flex;
}

.container aside {
  width: 300px;
  background-color: rgb(22, 24, 34);
}

.asideList ul li {
  position: relative;
  padding: 10px;
  list-style-type: none;
}

.asideList a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.asideList a:hover {
  color: #e6541a;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table {
  display: flex;
  justify-content: center;
}

.table table {
  position: relative;
  padding: 40px;
  margin: 30px 0;
  width: 98%;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgb(153, 153, 153);
}

.table th {
  padding-bottom: 15px;
  color: #e6541a;
  font-size: 20px;
}

td {
  position: relative;
  text-align: start;
}

.tbody td {
  position: relative;
  height: 40px;
  text-align: center;
  left: 5px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.edit {
  padding: 8px 14px;
  color: #ffffff;
  background-color: #e6541a;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.delete {
  padding: 8px 14px;
  color: #ffffff;
  background-color: #a81515;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.addSection {
  position: relative;
  padding: 10px 0;
  text-align: center;
  background-image: linear-gradient(rgb(22, 22, 22), rgb(19, 19, 19));
}

.addSection h2 {
  padding: 20px;
  margin-top: 40px;
  font-size: 30px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  padding-bottom: 25px;
  margin: auto;
  background-image: linear-gradient(rgb(179, 80, 41), #e6541a);
  border-radius: 5px;
}

.formCol {
  width: 40%;
  margin: 30px 50px;
}

.formCol p {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  color: #ffffff;
}

.formCol input {
  height: 28px;
  width: 100%;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 5px;
}

.submitButton {
  padding: 10px 30px;
  margin: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(rgb(14, 136, 14), rgb(8, 107, 8));
  border: 1px solid rgb(0, 75, 0);
  border-radius: 3px;
}